<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engineer.imitate">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".KotlinRootActivity"
            android:label="@string/app_name"
            android:theme="@style/MyAppTheme" />

        <activity
            android:name="com.engineer.imitate.ui.activity.FinalActivity"
            android:label="@string/title_activity_final"
            android:theme="@style/MyAppTheme" />

    </application>

</manifest>