<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engineer.imitate">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".ImitateApplication" android:icon="@mipmap/kotlin">
        <activity
            android:name=".KotlinRootActivity"
            android:label="@string/title_activity_kotlin_root"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>