<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engineer.android.game">

    <application>
        <activity android:name=".ui.SquareActivity"/>
        <activity android:name=".ui.GameRootActivity" />
        <activity android:name=".ui.TowerBuilderActivity" />
        <activity android:name=".ui.SchulteGridActivity" />
        <activity android:name=".ui.SensorViewActivity" />
        <activity android:name=".ui.Game2048Activity" />
        <activity
            android:name="com.snatik.matches.MemoryGameActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>