name: Android CI

on:
  push:
    paths:
      - "app/**"
      - "imitate/**"
      - "subs/**"
      - "gradle/**"
      - "*.gradle"
      - "*.gradle.kts"

jobs:
  build-debug:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 21
      uses: actions/setup-java@v2
      with:
        java-version: '21'
        distribution: 'adopt'
    - name: Repo Visualizer
      uses: githubocto/repo-visualizer@0.8.2
    - name: build app apk
      run: ./gradlew :app:assembleChargeDebug;
    - name: build imitate apk
      run: ./gradlew :imitate:assembleDebug;

  build-release:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 21
        uses: actions/setup-java@v2
        with:
         java-version: '21'
         distribution: 'adopt'
      - name: build app apk
        run: ./gradlew :app:assembleChargeRelease;
      - name: build imitate apk
        run: ./gradlew :imitate:assembleRelease;
